@model ConsentViewModel

<section class="container is-mobile">
  <div class="columns is-centered">
    <div class="column is-half">
      <form asp-action="Index" class="consent-form">
        <div class="card">
          <div class="card-content">
            <p class="is-size-5 has-text-dark-grey has-text-weight-bold has-text-centered">An application would like to connect to your account.</p>
            <partial name="_ValidationSummary" />
            
              <input type="hidden" asp-for="ReturnUrl" />
              <div class="level level mt-3">
                <div class="level-item">
                  <figure class="image is-128x128">
                    @if (Model.ClientLogoUrl != null)
                    {
                      <img class="is-rounded" src="@Model.ClientLogoUrl" width="128" height="128">
                    } else{
                      <img class="is-rounded" src="https://via.placeholder.com/128" width="128" height="128">
                    }
                  </figure>
                </div>       
              </div>
              <div class="level mt-3">
                  <p class="has-text-centered">
                    <strong class="has-text-weight-bold has-text-danger-dark is-size-5">
                      @if (Model.ClientUrl != null)
                      {
                        <a class="has-text-link" target="_blank" href="@Model.ClientUrl">
                          @Model.ClientName
                          </a>
                      } else{
                        @Model.ClientName
                      }
                    </a>
                  </strong>
                   is requesting your permission. Uncheck the permissions you do not wish to grant.
                  </p>
              </div>
              @if (Model.IdentityScopes.Any())
              {
                <div class="panel">
                  <p class="panel-heading">
                    Personal Information
                  </p>
                  @foreach (var scope in Model.IdentityScopes)
                  {
                      <partial name="_ScopeListItem" model="@scope" />
                  }
                </div>
              }
              
              @if (Model.ResourceScopes.Any()){
                <div class="panel">
                  <p class="panel-heading">
                    Application Access
                  </p>
                  @foreach (var scope in Model.ResourceScopes)
                  {
                      <partial name="_ScopeListItem" model="scope" />
                  }
                </div>
              }

              @if (Model.AllowRememberConsent)
              {
                <div class="level">
                  <div class="level-item">
                    <label class="checkbox mt-3">
                      <input type="checkbox" asp-for="RememberConsent">
                      <b class="has-text-weight-bold">Remember my decision</b>
                    </label>
                  </div>
                </div>
              }
          </div>
          <footer class="card-footer">
            <button name="button" value="no" class="card-footer-item has-text-danger btn-submit">Deny</button>
            <button name="button" value="yes" class="card-footer-item has-text-success btn-submit" autofocus>Allow</button>
          </footer>
        </div>
    </form>
  </div>
</section>