@model ConsentViewModel

<section class="container is-mobile">
  <div class="columns is-centered">
    <div class="column is-half">
      <form asp-action="Index" class="consent-form">
        <div class="card">
          <div class="card-content">
            <p class="is-size-5 has-text-info has-text-weight-bold has-text-centered">An application would like to connect to your account.</p>
            <partial name="_ValidationSummary" />
            
              <input type="hidden" asp-for="ReturnUrl" />
                @* @if (Model.ClientLogoUrl != null)
                {
                    <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
                }*@
                <div class="level mt-3">
                    <p class="has-text-centered">
                      <b class="has-text-weight-bold has-text-danger-dark is-size-5">@Model.ClientName </b>
                      is requesting your permission. Uncheck the permissions you do not wish to grant.
                    </p>
              </div>
              @if (Model.IdentityScopes.Any())
              {
                <div class="panel">
                  <p class="panel-heading">
                    Personal Information
                  </p>
                  @foreach (var scope in Model.IdentityScopes)
                  {
                      <partial name="_ScopeListItem" model="@scope" />
                  }
                </div>
              }
              
              @if (Model.ResourceScopes.Any()){
                <div class="panel">
                  <p class="panel-heading">
                    Application Access
                  </p>
                  @foreach (var scope in Model.ResourceScopes)
                  {
                      <partial name="_ScopeListItem" model="scope" />
                  }
                </div>
              }

              @if (Model.AllowRememberConsent)
              {
                <div class="level">
                  <div class="level-item">
                    <label class="checkbox mt-3">
                      <input type="checkbox" asp-for="RememberConsent">
                      <b class="has-text-weight-bold">Remember my decision</b>
                    </label>
                  </div>
                </div>
              }
          </div>
          <footer class="card-footer">
            <button name="button" value="no" class="card-footer-item has-text-danger btn-submit">Deny</button>
            <button name="button" value="yes" class="card-footer-item has-text-success btn-submit" autofocus>Allow</button>
          </footer>
          @* 
            @if (Model.ClientUrl != null)
            {
                <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <strong>@Model.ClientName</strong>
                </a>
            }
          *@
        </div>
    </form>
  </div>
</section>