@model GrantsViewModel
@{
    Layout = "_Dashboard";
}
<div class="panel">
  <div class="panel-block">
    <p class="has-text-centered has-text-weight-bold">Authorized OAuth 2 Apps</p>
  </div>
  @if (Model.Grants.Any() == false)
  {
    <div class="panel-block">
      <p>You have not granted any applications access to your account.</p>
    </div>
  }else{
    <div class="panel-block">
      <p>You have granted <strong>@Model.Grants.Count()</strong> applications access to your account.</p>
    </div>
    foreach (var grant in Model.Grants)
    {
      <div class="panel-block app-grant">
        <div class="level">
          <div class="level-item">
            @if (grant.ClientLogoUrl != null)
            {
                <img src="@grant.ClientLogoUrl" width="60" height="60">
            } else {
                <img src="https://via.placeholder.com/60" width="60" height="60" />
            }
            <div class="px-3">
              <p>
                <strong>@grant.ClientName</strong>&nbsp;
                <small class="has-text-grey-light">@grant.Created.ToString("yyyy-MM-dd")</small>
              </p>
              <small class="has-text-grey-light">Expires @grant.Expires.Value.ToString("yyyy-MM-dd")</small>
            </div>
          </div>
        </div>
        @if (grant.IdentityGrantNames.Any())
        {
          <div class="grant-list">
            <ul>
              <li><strong class="is-size-7 is-uppercase has-text-info">Identity Grants</strong></li>
              @foreach (var name in grant.IdentityGrantNames)
              {
                  <li>@name</li>
              }
            </ul>
          </div>
        }
        @if (grant.ApiGrantNames.Any())
        {
          <div class="grant-list">
            <ul>
              <li><strong class="is-size-7 is-uppercase has-text-info">API Grants</strong></li>
              @foreach (var name in grant.IdentityGrantNames)
              {
                  <li>@name</li>
              }
            </ul>
          </div>
        }
        <div>
          <form asp-action="Revoke">
            <input type="hidden" name="clientId" value="@grant.ClientId"/>
            <button title="Revoke Access" class="button is-danger is-outlined is-small"><i class="fa fa-close"></i></button>
          </form>
        </div>
      </div>
    }
  }