@model ScopeViewModel

<div class="panel-block">
  <label for="scopes_@Model.Name">
    <input class="checkbox"
           type="checkbox"
           name="ScopesConsented"
           id="scopes_@Model.Name"
           value="@Model.Name"
           checked="@Model.Checked"
           disabled="@Model.Required" />
    @if (Model.Required)
    {
        <input type="hidden"
               name="ScopesConsented"
               value="@Model.Name" />
    }
    <strong>@Model.DisplayName</strong>&nbsp;
    @if (Model.Emphasize)
    {
        <i class="fa fa-exclamation"></i>
    }
    @if (Model.Description != null)
    {
      <p>
          @Model.Description
      </p>
    }
  </label>
  @if (Model.Required)
  {
      <span><em>(required)</em></span>
  }
</div>